{% extends "auctions/layout2.html" %}
{% load static %}
{% load humanize %} 
{% load tz %}

{% block content %}
    <div class="item-50">
        <div class="flex">
            <div class="img-outer--page">
                <div class="img-inner">
                    <img src="{{ listing.image.url }}" alt="listing image">
                </div>
            </div>
        </div>
        <div class="block-sm pre-line">
            <p>{{ listing.detailed_description }}</p>
        </div>
        <div class="block-sm align-r">
            <p>Category: {{ listing.category }}</p>
            <p>listed By: {{ listing.listed_by.username }}</p>
            <p>Registerd At: {{ listing.registerd_at | timezone:tz }}</p>
        </div>
    </div>
    <div class="item-50">
        <h2>{{ listing.product_name }}</h2>
        
        <div class="block-sm">
            <p class="align-r">
                <span class="tag bg-yellow">
                    {% if listing.is_closed %}
                        closed
                    {% else %}
                        {{ listing.bid_period | timeuntil }}
                    {% endif %}
                </span>
            </p>
        </div>

        <div class="block-sm">
            {% if listing.is_closed is False and user == listing.listed_by %}
                <form method="POST" action="{% url 'listing' listing.id %}" class="align-r">
                    {% csrf_token %}
                    <button type="submit" name="toClosed" class="tag margin-none">To close</button>
                </form>
            {% endif %}
        </div>

        {% if is_highest %}
            <p>
                {% if listing.is_closed %}
                    Congratulations!! You're Successful bid.  
                {% else %}
                    You're highest bidder.
                {% endif %}
            </p>
        {% endif %}
        
        <div class="block-sm">
            <strong>${{ listing.current_price | floatformat:"0" | intcomma }}</strong>
            Bid: {{ bid_count }}
        </div>

        {% if listing.is_closed is False %}
            <div class="block-bid">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'listing' listing.id %}">
                        {% csrf_token %}
                        <p>YOUR MAXIMUM BID:</p>
                        {% for field in bid_form.visible_fields %}
                            {{ field }}
                            <button type="submit" name="addBid" class="bg-blue">Bid Price</button>
                            {{ field.errors }}
                        {% endfor %}
                        <p style="text-align: center;">An automatic bid is ${{ increment }}</p>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn bg-blue size-l">Sign in to bid</a>
                {% endif %}
            </div>
        {% endif %}

        <p style="text-align:center;">
            Bid Period at
            <span style="font-weight: 900;">{{ listing.bid_period | timezone:tz }}</span>   
        </p>

        {% if listing.is_closed is False %}
            {% if user.is_authenticated %}
                {% if is_watch %}
                    <div class="block-m">
                        <form method="POST" action="{% url 'update_watchlist' listing.id %}">
                            {% csrf_token %}
                            <button type="submit" name="removeWatch" class="btn border bg-blue">Remove Watchlist</button>
                        </form>
                    </div>
                {% else %}
                    <div class="block-m">
                        <form method="POST" action="{% url 'update_watchlist' listing.id %}">
                            {% csrf_token %}
                            <button type="submit" name="addWatch" class="btn border">Add Watchlist</button>
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <div class="block-sm">
                    <p>Don't have an account? <a href="{% url 'register' %}" class="textline">Sign Up here.</a></p>
                </div>
            {% endif %}
        {% endif %}

        <div class="block-m">
            <h3>Comments</h3>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'comment' listing.id %}" class="align-r">
                    {% csrf_token %}
                    <textarea name="comment" class="margin-none"></textarea>
                    <button type="submit" name="addComment" class="bg-blue margin-none">Post</button>
                </form>
            {% endif %}
        </div>
        <div class="block-sm">
            {% for comment in comments %}
                <p>{{ comment.comment }}</p>
                <div class="align-r block--border-bt">
                    <p>{{ comment.contributor }}</p>
                    <p>{{ comment.registerd_at | timezone:tz }}</p>
                </div>
            {% empty %}
                <p>No comments.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}