{% extends "auctions/layout3.html" %}

{% block content %}
    <div class="item-auto">
        <div class="block-sm">
        {% if message %}
            <p style="color:#ff4e50;font-weight:bold;">{{ message }}</p>
        {% endif %}

        <div class="block-sm">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input autofocus type="text" name="username" class="normal" placeholder="Username">
                <input type="password" name="password" class="normal" placeholder="Password">
                <button type="submit" class="size-l">Sign In</button>
            </form>
        </div>

        <div class="block-sm">
            Don't have an account? <a href="{% url 'register' %}" class="textline">Sign Up here.</a>
        </div>
    </div>
{% endblock %}