{% extends "auctions/layout2.html" %}
{% load static %}
{% load humanize %} 
{% load tz %}

{% block content %}
    {% for watchlist in watchlists %}
        <div class="item--flex">
                <div class="flex">
                    <div class="img-outer--lists">
                        <div class="img-inner">
                            <img src="{{ watchlist.image.url }}" alt="listing image" width="150">
                        </div>
                    </div>
                </div>
            <h3>
                <a href="{% url 'listing' watchlist.id %}">{{ watchlist.product_name }}</a>
            </h3>

            <p class="align-r">
                <span class="tag bg-yellow">
                    {% if watchlist.is_closed %}
                        closed
                    {% else %}
                        {{ watchlist.bid_period | timeuntil }}
                    {% endif %}
                </span>
            </p>

            <div class="block-sm">
                <p>{{ watchlist.bid_deadline | timeuntil }}</p>
            </div>

            <div class="block-sm">
                <strong>${{ watchlist.current_price | floatformat:"0" | intcomma }}</strong>
                Bid: {{ watchlist.bidrecord_set.count }}
            </div>

            <div class="block-sm">
                <p>{{ watchlist.short_discription }}</p>
            </div>

            <div class="block-sm align-r">
                <p>Category: {{ watchlist.category }}</p>
                <!-- <p>listed By: {{ listing.listed_by.username }}</p> -->
                <p>Registerd At: {{ watchlist.registerd_at | timezone:tz }}</p>
            </div>
        </div>
    {% empty %} 
        <p>No watchlists.</p>
    {% endfor %}
{% endblock %}